/* PrimeFaces overrides */
.ui-menubar .ui-menu-list>.ui-menuitem .ui-menuitem-text {
	margin-right: 10px;
}

.ui-menubar .ui-button {
	font-size: 0.8em;
}

.ui-radiobutton,
.ui-outputlabel,
.ui-chkbox,
.ui-selectoneradio label {
	cursor: pointer;
}

.ui-outputlabel.ui-state-error {
	color: #b94a48;
}

.ui-message {
	margin-bottom: 3px;
}

.ui-password-panel {
	z-index: 2000 !important;
}

.ui-autocomplete-panel {
	max-height: 250px;
}
.ui-autocomplete-multiple-container {
	width: 100%;
}

.ui-selectonebutton .ui-button.ui-state-active {
	cursor: default;
}

.ui-autocomplete-multiple-container.ui-state-disabled .ui-autocomplete-token-icon.ui-icon-close {
	display: none;
}

.ui-autocomplete-multiple-container.ui-state-disabled {
	opacity: 1;
	filter: Alpha(Opacity = 100);
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
